@import "main";
// header part - 01 Navigation
header{
    #nav-bar{
        .container{
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            h1{
                text-align: center;
                padding-bottom: 0.5rem;
                .logo a{
                    margin: auto;
                    color: var(--secondary-color);
                }
            }
            @include navbar-list();
            .menu{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: 0rem;
                padding: 0rem;
                & a{
                    margin-top: 0.2rem;
                    margin-bottom: 0.5rem;
                    border-bottom: 1px dotted var(--primary-color);
                }
            }
        }
    }
}

// home info section part - 03
#home-info{
    .home-content{
        display: grid;
        grid-template-rows: auto;
        .info-img{
            display: none;
            width: 0%;
            }
        .info-content{
            display: block;
            max-width: 100vw;
            min-height: 100%;
            h2{
                text-align: center;
            }
            .lead{
                text-align: left;
                padding: 0rem;
                margin: 0.2rem 0.5rem;
            }
        }
    }
}

// feature section part - 04
#feature{
    display: grid;
    grid-template-rows: auto auto auto;
    .box{
        display: block;
        max-width: 100vw;
        min-height: 100%;
        padding: 1.2rem;
    }
}

// footer section part - 05
#main-footer{
    p{
        margin: 0rem;
    }
}

// showcase section part - 02
#showcase{
    max-width: 100vw;
    max-height: 70vh;
    overflow: hidden;
}

// about-info part - 06
#about-info{
    .container{
        max-width: 100vw;
        height: auto;
        .info-right{
            display: none;
        }
        .info-left{
            max-width: 100vw;
            min-height: 100%;
            h1{
                padding: 0rem;
                margin: 0.5rem;
                text-align: center;
            }
            p{
                margin: 1rem 0rem;
            }
        }
    }
}

// testimonials part - 07
#testimonial{
    .container{
        max-width: 100vw;
        min-height: 100%;
        h2{
            margin: 1rem 0rem;
            padding: 0rem;
            text-align: center;
            word-spacing: 0.2rem;
        }
        .testimonial{
            max-width: 100vw;
            min-height: 100%;
            display: grid;
            grid-template-rows: auto auto;
            grid-gap: 1rem;
            margin-bottom: 3rem;
            opacity: 0.8;
            .testimonial-one, .testimonial-two{
                margin: 1rem;
                padding: 0.5rem;
                text-align: left;
                max-width: 90vw;
                min-height: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                p{
                    text-align: left;
                }
            }
        }
    }
}

// contect-info section part - 08
#contact-info{
    .container{
        max-height: 70vh;
        h1{
            word-spacing: 0.2rem;
            margin-top: 0.5rem;
            padding: 0rem;
        }
        p{
            margin: 0rem;
            padding: 0rem;
            font-weight: bold;
            color: var(--secondary-color);
        }
        form{
            .form-group{
                margin-bottom: 0.5rem;
                label{
                    font-weight: normal;
                    margin-bottom: 0.2rem;
                }
                input, textarea{
                    padding: 0rem;
                }
                textarea{
                    height: 70px;
                }
            }
            button{
                position: relative;
                top: 50%;
                left: 40%;
            }
        }
    }
}

// contact-info details part - 09
#contact-info-details{
    display: grid;
    grid-template-rows: auto auto auto;
    .box{
        display: block;
        width: 100vw;
        min-height: 100%;
        padding: 0.5rem;
        & i{
            margin: 0rem;
        }
    }
}