@import "mobile";
// showcase section part - 02
#showcase{
    max-width: 100vw;
    height: 50vh;
    overflow: hidden;
}

// home-info section part - 03
#home-info{
    .home-content{
        padding: 0rem;
        display: grid;
        grid-template-columns: auto auto;
        .info-img{
            width: 50vw;
            min-height: 100%;
            display: block;
            margin: auto;
            background: url('../image/photo-1.jpg') no-repeat center center/cover;
        }
        .info-content{
            width: 50vw;
            min-height: 100%;
            display: block;
            .btn{
                margin-bottom: 1.5rem;
            }
        }
    }
}

// about-info part - 06
#about-info{
    .container{
        display: grid;
        grid-template-columns: auto auto;
        .info-right{
            width: 50vw;
            min-height: 100%;
            display: block;
            margin: auto;
            text-align: left;
            padding-right: 2rem;
        }
        .info-left{
            width: 50vw;
            min-height: 100%;
            display: block;
        }
    }
}

// contact-info section part - 08
#contact-info{
    .container{
        width: 100vw;
        min-height: 50vh;
        form{
            position: relative;
            button{
                position: relative;
                top: 130%;
                left: 45%;
            }
        }
    }
}